.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Restliche Stile für login-container */
    position: absolute;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgba(0, 123, 255, 0.8); /* halbtransparent, damit der Hintergrund durchscheint */
    border-radius: 5px;
    filter: brightness(90%); /* optional, für leichtere Lesbarkeit */

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.AO_Building {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(70%);
}





